.cleaner {
	clear: both;
}

.body{
	font-family: 'Quicksand', sans-serif;
}

#logo{
	text-align: center;
	font-size: 40px;
}

#titlePane{
	padding-top: 7vw;
	padding-bottom: 7vw;
	text-align: center;
	color: #f5f5f5;
	font-size: 10vw;
	background-color: #8f8f8f;
	background-image: url("/img/wow.png");
	background-size: cover;
}

#slideFancy{
	margin-top: 3vw;
	margin-bottom: 3vw;
	padding-top: 6vw;
	background: rgb(0,254,29);
	background: linear-gradient(90deg, rgba(0,254,29,1) 0%, rgba(0,185,255,1) 99%);
	
	-webkit-transform: skewY(5deg);
	-moz-transform: skewY(5deg);
	-ms-transform: skewY(5deg);
	-o-transform: skewY(5deg);
	transform: skewY(4deg);
	
	position: relative;
	z-index: -1;
}

#devider{
	padding-top: 1vw;
	margin-top: 0vw;
	background-color: #000000;
}

p{

}

footer{
	background-color: #fcba03;
	background: #fcba03;
}

#contentContainer{
	margin-top: 2.5vw;
	margin-bottom: 2.5vw;
	margin-left: 5vw;
	margin-right: 5vw;
}

#credits{
	margin-left: 200px;
}

iframe{
	width: 100%;
}